<div class="section_list">

        <% @sections.each do |section| %>

            <div class="side row_element">
                <div>
                    <%= image_tag('no_photo', :alt => "Image of module") %>
                </div>
                <div class="info">
                    <h4><%= section.title %></h4>
                    <% if user_signed_in? %>
                        <%= link_to 'Edit', edit_course_course_module_section_path(@mod.course_id, @mod, section) %>
                    <% end %>
                    <p><%= section.description %></p>
                </div>
            </div>

        <% end %>
    
</div>