<table class="table table-striped table-bordered">
    <thead>
        <td>
            #
        </td>
         <td>
            Name
        </td>
        <td>
            Season
        </td>
        <td>
            Year
        </td>
    </thead>
    <% @projects.each_with_index do |project, i|%>
    <tr>
        <td>
            <%= i %>
        </td>
        <td>
            <%= project.course.name %>
        </td>
        <td>
            <%= project.semester.season %>
        </td>
         <td>
            <%= project.semester.year %>
        </td>
    </tr>
    <% end %>
</table>