@import "bootstrap-sprockets";
@import "bootstrap";

body {
    display: block;
    height: 900px;
    background: linear-gradient(45deg, #264D6B 10%, #ddd 100%);
    padding: 60px;
}

a {
    &:hover {
        transform: scale(1.5);
        font-weight: bold;
    }
}

h1 {
    color: #264D6B;
}

p {
    background-color: #eee;
    padding: 10px;
    border-radius: 5px;
    margin-top: 5px;
}

img {
    border-radius: 10px;
}

input {
    margin-bottom: 15px;
}

textarea { 
    height: 150px !important;
    margin-bottom: 5px;
}

.navbar {
    background-color: #264D6B;
}
.title {
    text-align: center;
}

.list {
    list-style: none;
}

.row {
    background-color: #ffffff70;
    width: 90%;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 10px;
    &.row_space_top {
        margin-top: 100px;
    }
}

.side {
    display: flex;
}

.info {
    margin-left: 10px;
}

.module_list {
    padding: 10px;
}

.row_element {
    padding: 10px;
    background: #999; /*linear-gradient(45deg, #264D6B 10%, #bbb 100%);*/
    margin-bottom: 10px;
    border: solid 2px #264D6B;
    border-radius: 7px;
    border-radius: 7px;
}

#header_title {
    color: white;
}

.section_list {
    display: block;
    width: 100%;
}
