@import "bootstrap-sprockets";
@import "bootstrap";

body {
    display: block;
    height: 1200px;
    background: linear-gradient(45deg, #264D6B 10%, #ddd 100%);
    padding: 60px;
}

a {
    &:hover {
        transform: scale(1.1);
        font-weight: bold;
    }
}

h1 {
    color: #264D6B;
    margin: 0px !important;
}



p {
    background-color: #eee;
    padding: 10px;
    border-radius: 5px;
    margin-top: 5px;
}

img {
    border-radius: 10px;
}

input {
    margin-bottom: 15px;
}

textarea { 
    height: 150px !important;
    margin-bottom: 5px;
}

#logo {
    color: white;
    font-size: 18pt;
    text-decoration: none;
}
.navbar {
    background-color: #264D6B;
}
.title {
    text-align: center;
}

.list_title {
    font-size: 18pt;
    text-align: center;
}

.list {
    list-style: none;
}

.row {
    background-color: #ffffff70;
    width: 90%;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 10px;
    &.row_space_top {
        margin-top: 100px;
    }
}

.side {
    display: flex;
}

.info {
    
    margin-left: 10px;
}

.module_list {
    padding: 10px;
}

.row_element {
    padding: 10px;
    background: linear-gradient(45deg, #264D6B50 50%, #264D6B 100%);
    margin-top: 10px;
    margin-bottom: 10px;
    border: solid 2px #264D6B;
    border-radius: 7px;
    
}

#header_title {
    color: white;
}

.section_list {
    display: block;
    width: 100%;
}

/* devise stuff */
.sessions {
    display: block;
    width: 400px;
    background-color: #ffffff70;
    padding-bottom: 15px;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px 5px #264D6B;
}

.title_row {
    display: flex;
    justify-content: space-between;   
    font-size: 14pt;
    color: white;
}

.scale {
    color: white;
    &:hover {
    transform: scale(1.2);
    }
}

.green_icon {
    color: #264d6b;
}
